@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

* {
	scrollbar-width: none;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(4px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

button {
	cursor: pointer;
}

.animate-fadeIn {
	animation: fadeIn 0.25s ease-out forwards;
}

.card {
	background: #111;
	border: 1px solid #222;
	border-radius: 12px;
	padding: 16px;
	transition: 0.2s ease;
}


.card:hover {
	border-color: #444;
	background: #151515;
}

@keyframes loadingBar {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.animate-loading-bar {
	animation: loadingBar 1s linear infinite;
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

.animate-slideUp {
	animation: slideUp 0.3s ease-out;
}